.navbar {
  background-color: white; 
  height: 15vh;
}

.navbar-brand img {
  height: 40px; /* Logo size */
}
.dropbtn{
    border: none;
   font-size: 1.5vw;
    color: black;
    background-color: white;
}

.nav-item i {
  color: #6c757d;
}



img.rounded-circle {
  height: 40px;
  width: 40px;
}

.navbar .btn-outline-primary {
  border-color: #6366f1;
  color: #6366f1;
}

.navbar .btn-outline-primary:hover {
  background-color:#6366f1;
  color: #fff;
}
.menu-bar {
    background-color: #1e293b;
    height: 85vh;
    width: 13%;
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
    gap: 30px;
}
.menu-bar.hidden {
    display: none;
    /* Hide the menu when the 'hidden' class is applied */
}
.menu-bar div{
    background-color:#2e405f;;
    height: 6vw;
    width: 60%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 5%;

}
.menu-bar div:hover{
    background-color: #6366f1;
}
.menu-bar a {
    color: #bcbec1;
    text-decoration: none;
    font-size: 0.8vw;

}
.menu-bar i {
    color: white;
    font-size: 3vw;
}
